.main {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main form {
  width: 100%;
  height: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main form textarea {
  width: 40rem;
  margin: 0 10px;

  border: none;
  border-bottom: 1px solid white;

  color: white;
  font-size: x-large;
  font-weight: 500;

  background-color: #383e4a;
}

.main form textarea:focus {
  outline: none;
}

.btn-container {
  height: 2rem;
  margin: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-container button {
  line-height: 1rem;
  margin: 0 0.2rem;
}

.btn {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border: solid 2px white;
  border-radius: 50%;
}
.btn:hover {
  transform: scale(1.1);
  transition: all 500ms ease-in;
}
.btn img {
  width: 2rem;
}

.lang-selection {
  width: 30rem;
  margin: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.lang-selection img {
  height: 2rem;
}
.select {
  width: 8rem;
}
@media only screen and (max-width: 728px) {
  .main form textarea {
    width: 90%;
    height: 10rem;
    font-size: larger;
  }

  .title-img {
    width: 19rem;
    margin-bottom: 3rem;
  }
  .lang-selection {
    width: 100%;
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
